*{
    box-sizing: border-box;
    margin: 0px;
}
.contenedor{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#img{
    width: 100%;
}
img{
    width: 100%;
}
#red{
    background-color: red;
    height: 200px;
    width: 100%;
}
#pink{
    background-color: pink;
    height: 200px;
    width: 100%;
}
@media screen and (min-width: 576px) {
    #red,#img{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    #red,#pink,#img{
        width: 33%;
    }
}