* {
    
    box-sizing: border-box;
}
.container{
    margin: 0 auto;
}
h1,h2,h3,h4,p,div{
    font-family: Righteous;
}
.verde{
    color: green;
}
header.verde{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu_item{
    display: none;
}
main{
    display: flex;
    flex-flow: row wrap ;
    flex-direction:row-reverse;
    justify-content:flex-end ;
    background-color: rgb(102, 102, 102);
    color: white;
}
img{
    width: 25%;
}
.images{
    display: flex;
    flex-wrap: wrap;
}
.hidden{
    display: none;
}
@media screen {
    
}