a{
    text-decoration: none;
}
a:visited{
    color: green;
}
a:link{
    color: red;
}
table,td,th{
    border-collapse: collapse;
    border: solid 1px;
}
tbody th:first-child{
    background-color: green;
}

tr:nth-child(3){
    background-color: yellow;
}
thead th::first-letter{
    font-size: 32px;
}
label::after{
    color:red;
    content: "*";
}
label+input{
    width: 200px;
    height: 20px;
    border: 1px solid red;
    padding: 5px;
}
input::placeholder{
    text-align: center;
}
td:last-child:hover, th:last-child:hover{
    font-size: 30px; 
    transition: 200ms;
}